$--grid-size: 0.5rem !default; /* 8px */
$--border-radius: 0.5rem !default; /* 8px */

// Spacings
$--spacing-25: 0.25rem !default; /* 4px */
$--spacing-50: 0.5rem !default; /* 8px */
$--spacing-75: 0.75rem !default; /* 12px */
$--spacing-100: 1rem !default; /* 16px */
$--spacing-150: 1.5rem !default; /* 24px */
$--spacing-200: 2rem !default; /* 32px */
$--spacing-300: 3rem !default; /* 48px */
$--spacing-400: 4rem !default; /* 64px */
$--spacing-600: 6rem !default; /* 96px */
$--spacing-800: 8rem !default; /* 128px */
$--spacing-1200: 12rem !default; /* 192px */
$--spacing-1600: 16rem !default; /* 256px */
$--spacing-2400: 24rem !default; /* 384px */
$--spacing-3200: 32rem !default; /* 512px */
$--spacing-4000: 40rem !default; /* 640px */
$--spacing-4800: 48rem !default; /* 768px */
