.editor {
  position: relative;
  margin: 0 auto 5rem auto;
  &__content {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
  }
  & p.is-editor-empty:first-child::before {
    content: attr(data-empty-text);
    float: left;
    color: #aaa;
    pointer-events: none;
    height: 0;
    font-style: italic;
  }
}

.menu {
  $menu: #{&};
  display: flex;
  z-index: 20;
  border-radius: 5px;
  padding: 0.3rem;
  margin-bottom: 0.5rem;
  transition: opacity 0.2s, visibility 0.2s;
  &--bubble {
    position: absolute;
    transform: translateX(-50%);
    box-shadow: $--shadow-md;
    border: 1px solid $--black;
    border-radius: $--border-radius-sm;
  }
  &.hidden {
    opacity: 0;
    visibility: hidden;
  }
  span#{&}__button {
    font-size: 13.3333px;
  }
}
